.linkButton {
  text-decoration: none;
  color: #0a0a0a;
  border-bottom: 2px solid #0a0a0a;
  padding: 0.3em;
  margin: 0.5em;
  font-size: 16px;
  transition: border-bottom 0.1s ease;
  cursor: pointer;
}

.linkButton:hover {
  color: rgb(12, 74, 156);
  border-bottom: 4px solid rgb(12, 74, 156);
  transition: border-bottom 0.1s ease;
}

.navContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  display: inline-block;
  margin: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
